*.iml
.gradle/
build/
local.properties
.idea/
*.apk
*.ap_
*.aab
*.jks
*.keystore
*.log

.DS_Store

Thumbs.db

*~

*.swp
*.swo

.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/caches/
.idea/assetWizardSettings.xml
.idea/.name
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/codeStyles/

.env
